# Cars Dataset Analysis
-Condition
-Function
-loop

In [1]:
import pandas as pd

In [2]:
cars=pd.read_csv('cars.csv')

In [3]:
cars.columns

Index(['name', 'sports_car', 'suv', 'wagon', 'minivan', 'pickup', 'all_wheel',
       'rear_wheel', 'Price', 'Dealer_Cost', 'Engine_size', 'cylenders',
       'horsepower', 'city_miles_per_galloon', 'highway_miles_per_Gallon',
       'weight', 'base_wheeel', 'length', 'width'],
      dtype='object')

In [4]:
cars.head()

,name,sports_car,suv,wagon,minivan,pickup,all_wheel,rear_wheel,Price,Dealer_Cost,Engine_size,cylenders,horsepower,city_miles_per_galloon,highway_miles_per_Gallon,weight,base_wheeel,length,width
0,Chevrolet Aveo 4dr,False,False,False,False,False,False,False,11690,10965,1.6,4,103,28.0,34.0,2370.0,98.0,167.0,66.0
1,Chevrolet Aveo LS 4dr hatch,False,False,False,False,False,False,False,12585,11802,1.6,4,103,28.0,34.0,2348.0,98.0,153.0,66.0
2,Chevrolet Cavalier 2dr,False,False,False,False,False,False,False,14610,13697,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0
3,Chevrolet Cavalier 4dr,False,False,False,False,False,False,False,14810,13884,2.2,4,140,26.0,37.0,2676.0,104.0,183.0,68.0
4,Chevrolet Cavalier LS 2dr,False,False,False,False,False,False,False,16385,15357,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0

## 1- How many Rows are in the cars dataset?

In [5]:
cars.shape[0]

428

## 2- How many Columns are in the car's data set?

In [6]:
cars.shape[1]

19

## 3- How many unique numbers of cylinders we have in the cars dataset?

In [7]:
cars.cylenders.value_counts()

 6     190
 4     136
 8      87
 5       7
 12      3
 10      2
-1       2
 3       1
Name: cylenders, dtype: int64

In [8]:
cars.cylenders.unique()

array([ 4,  6,  3,  8,  5, 12, 10, -1], dtype=int64)

## 4- What is the average horsepower of cars?

In [9]:
cars.horsepower.describe()

count    428.000000
mean     215.885514
std       71.836032
min       73.000000
25%      165.000000
50%      210.000000
75%      255.000000
max      500.000000
Name: horsepower, dtype: float64

In [12]:
cars.horsepower.mean()

215.8855140186916

## 5- What is the maximum horsepower?

In [14]:
cars.horsepower.max()

500

## 6- What is the most expensive car ?

In [15]:
cars[cars.Price== max(cars.Price)]

,name,sports_car,suv,wagon,minivan,pickup,all_wheel,rear_wheel,Price,Dealer_Cost,Engine_size,cylenders,horsepower,city_miles_per_galloon,highway_miles_per_Gallon,weight,base_wheeel,length,width
287,Porsche 911 GT2 2dr,True,False,False,False,False,False,True,192465,173560,3.6,6,477,17.0,24.0,3131.0,93.0,175.0,72.0

In [16]:
most_expensive_car = cars[cars['Price'] == cars['Price'].max()]

In [17]:
most_expensive_car

,name,sports_car,suv,wagon,minivan,pickup,all_wheel,rear_wheel,Price,Dealer_Cost,Engine_size,cylenders,horsepower,city_miles_per_galloon,highway_miles_per_Gallon,weight,base_wheeel,length,width
287,Porsche 911 GT2 2dr,True,False,False,False,False,False,True,192465,173560,3.6,6,477,17.0,24.0,3131.0,93.0,175.0,72.0

7- change the name of the column "name" to "car name"

In [18]:
cars= cars.rename(columns= {'name': 'car_name'})

In [19]:
cars.head()

,car_name,sports_car,suv,wagon,minivan,pickup,all_wheel,rear_wheel,Price,Dealer_Cost,Engine_size,cylenders,horsepower,city_miles_per_galloon,highway_miles_per_Gallon,weight,base_wheeel,length,width
0,Chevrolet Aveo 4dr,False,False,False,False,False,False,False,11690,10965,1.6,4,103,28.0,34.0,2370.0,98.0,167.0,66.0
1,Chevrolet Aveo LS 4dr hatch,False,False,False,False,False,False,False,12585,11802,1.6,4,103,28.0,34.0,2348.0,98.0,153.0,66.0
2,Chevrolet Cavalier 2dr,False,False,False,False,False,False,False,14610,13697,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0
3,Chevrolet Cavalier 4dr,False,False,False,False,False,False,False,14810,13884,2.2,4,140,26.0,37.0,2676.0,104.0,183.0,68.0
4,Chevrolet Cavalier LS 2dr,False,False,False,False,False,False,False,16385,15357,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0

## part 2:
## 8- make a subset of the data that has the car name, the price and name the new sub-setted data frame  car pricing.

In [20]:

cars_pricing= cars[['car_name','Price']]

In [21]:
cars_pricing

                            car_name  Price
0                 Chevrolet Aveo 4dr  11690
1        Chevrolet Aveo LS 4dr hatch  12585
2             Chevrolet Cavalier 2dr  14610
3             Chevrolet Cavalier 4dr  14810
4          Chevrolet Cavalier LS 2dr  16385
..                               ...    ...
423         Nissan Titan King Cab XE  26650
424                      Subaru Baja  24520
425                    Toyota Tacoma  12800
426     Toyota Tundra Regular Cab V6  16495
427  Toyota Tundra Access Cab V6 SR5  25935

[428 rows x 2 columns]

## 9- create a function called pricing category that returns "Budget Car " if the cars are less than 20,000 USD," Suitable Car " is the car is more than 20,000 and less than 35 000 and finally an expensive car for cars more than 35000.

In [22]:
def pricing_category(price):
    if( price < 20000):
        a= 'Budget Car'
    if((price>= 20000)&(price<= 35000)):
        a= 'Suitable Car'
    if(price >35000):
        a= 'Expensive Car'
    return a

In [23]:
pricing_category(50000)

'Expensive Car'

In [24]:
def pricing_cat(price):
    if price < 20000:
        return 'Budget Car'
    elif 20000 <= price <= 35000:
        return 'Suitable Car'
    else:
        return 'Expensive Car'

In [25]:
pricing_cat(10000)

'Budget Car'

## 10- create a column named category on the subset using a for loop and pricing category function

In [27]:
cars_pricing['category']

0      NA
1      NA
2      NA
3      NA
4      NA
       ..
423    NA
424    NA
425    NA
426    NA
427    NA
Name: category, Length: 428, dtype: object

In [28]:
cars_pricing.head()

                      car_name  Price category
0           Chevrolet Aveo 4dr  11690       NA
1  Chevrolet Aveo LS 4dr hatch  12585       NA
2       Chevrolet Cavalier 2dr  14610       NA
3       Chevrolet Cavalier 4dr  14810       NA
4    Chevrolet Cavalier LS 2dr  16385       NA

In [29]:
for i in range(cars_pricing.shape[0]):
    cars_pricing.category[i]= pricing_category(cars_pricing.Price[i])

C:\Users\HP\AppData\Local\Temp\ipykernel_15864\2434759066.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars_pricing.category[i]= pricing_category(cars_pricing.Price[i])

In [30]:
cars_pricing

                            car_name  Price      category
0                 Chevrolet Aveo 4dr  11690    Budget Car
1        Chevrolet Aveo LS 4dr hatch  12585    Budget Car
2             Chevrolet Cavalier 2dr  14610    Budget Car
3             Chevrolet Cavalier 4dr  14810    Budget Car
4          Chevrolet Cavalier LS 2dr  16385    Budget Car
..                               ...    ...           ...
423         Nissan Titan King Cab XE  26650  Suitable Car
424                      Subaru Baja  24520  Suitable Car
425                    Toyota Tacoma  12800    Budget Car
426     Toyota Tundra Regular Cab V6  16495    Budget Car
427  Toyota Tundra Access Cab V6 SR5  25935  Suitable Car

[428 rows x 3 columns]

## 11- How many Budget cars, suitable cars, and expensive cars we have?

In [31]:
cars_pricing.category.value_counts()

Suitable Car     193
Expensive Car    137
Budget Car        98
Name: category, dtype: int64